<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ToDoList</title>
  </head>
  <body>

    <h1 style="color:maroon"><%=day%></h1>

    <ul>
      <%for(let i=0;i<newListItems.length;i++){%>

        <li><%=newListItems[i]%></li>

      <%}%>

    </ul>
    <form class="" action="/" method="post">
      <input type="text" name="newTask" placeholder="New ToDoItem">
      <button type="submit" name="button">Add Item</button>
    </form>

  </body>
</html>
